@model IEnumerable<AppUser>

@foreach (var user in Model)
{
    <tr>
        <td>@user.FullName</td>
        <td>@user.UserName</td>
        <td>@user.Email</td>
        @if (user.IsBlocked)
        {
            <td class="text-danger">Blocked</td>

        }
        else
        {
            <td class="text-success">Active</td>

        }
        <td>
            @if (User.Identity.Name != user.UserName)
            {
                <a class="text-primary pe-2 text-decoration-none" asp-action="ChangeStatus" asp-route-id="@user.Id">
                    @if (user.IsBlocked)
                    {
                        <i class="fa fa-unlock"></i>
                    }
                    else
                    {
                        <i class="fa fa-lock"></i>
                    }
                </a>
            }
            <a class="text-primary pe-2 text-decoration-none" asp-action="detail" asp-route-id="@user.Id">

                <i class="fa fa-info-circle"></i>
            </a>
            <a class="text-succes pe-2 text-decoration-none" asp-action="update" asp-route-id="@user.Id">
                <i class="fa fa-edit"></i>
            </a>
            <a class="text-danger text-decoration-none deleteuser" asp-action="delete" asp-route-id="@user.Id">
                <i class="fa fa-trash-o "></i>
            </a>
            <a class="text-danger text-decoration-none" asp-controller="role" asp-action="UpdateUserRole" asp-route-id="@user.Id">
                <i class="fa fa-check "></i>
            </a>
        </td>
    </tr>
}
