@model AppUser

<h1>User Details</h1>
<h4>User name: @Model.UserName</h4>
<h4>Email: @Model.Email</h4>
<h4>Isblocked: @Model.IsBlocked</h4>

    @if (Model.Teacher!=null)
    {
        <h1>Teacher detail</h1>
        <div class="teacher-details-area pt-150 pb-60 col-lg-10">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-10">
                        <div class="teacher-details-img">
                            <img src="~/img/teacher/@Model.Teacher.ImageUrl" alt="teacher">
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <div class="teacher-details-content ml-50">
                            <h2>@Model.Teacher.FullName</h2>
                            <h5>@Model.Teacher.Position</h5>
                            <h4>about me</h4>
                            <p>@Model.Teacher.About</p>
                            <ul>
                                <li><span>degree: </span>@Model.Teacher.Degree</li>
                                <li><span>experience: </span>@Model.Teacher.Experience years experience</li>
                                <li><span>hobbies: </span>@Model.Teacher.Hobbies</li>
                                <li><span>faculty: </span>@Model.Teacher.Faculty</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div class="teacher-contact">
                            <h4>contact information</h4>
                            <p><span>mail me : </span>@Model.Teacher.TeacherContact.Email</p>
                            <p><span>make a call : </span>@Model.Teacher.TeacherContact.PhoneNumber</p>
                            <p><span>skype : </span> @Model.Teacher.TeacherContact.Skype</p>
                            <ul>
                                <li><a href="@Model.Teacher.TeacherContact.Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="@Model.Teacher.TeacherContact.Pinteres"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="@Model.Teacher.TeacherContact.Instagram"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="@Model.Teacher.TeacherContact.Twitter"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8">
                        <div class="skill-area">
                            <h4>skills</h4>
                        </div>
                        <div class="skill-wrapper">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="skill-bar-item">
                                        <span>language</span>
                                        <div class="progress">
                                            <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: @Model.Teacher.Language%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                                <span class="text-top">@Model.Teacher.Language%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="skill-bar-item">
                                        <span>team leader</span>
                                        <div class="progress">
                                            <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: @Model.Teacher.TeamLeader%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                                <span class="text-top">@Model.Teacher.TeamLeader%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="skill-bar-item">
                                        <span>development</span>
                                        <div class="progress">
                                            <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: @Model.Teacher.Development%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                                <span class="text-top">@Model.Teacher.Development%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="skill-bar-item">
                                        <span>design</span>
                                        <div class="progress">
                                            <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: @Model.Teacher.Design%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                                <span class="text-top">@Model.Teacher.Design%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="skill-bar-item">
                                        <span>innovation</span>
                                        <div class="progress">
                                            <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: @Model.Teacher.Innovation%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                                <span class="text-top">@Model.Teacher.Innovation%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="skill-bar-item">
                                        <span>communication</span>
                                        <div class="progress">
                                            <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: @Model.Teacher.Communication%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                                <span class="text-top">@Model.Teacher.Communication%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }  

@if (Model.Student != null)
{
                 <h1>STUDENT COURSE DETAIL</h1>
                 <div class="courses-details">
                    <div class="courses-details-img">
                        <img src="~/img/course/@Model.Student.Course.ImageUrl" alt="courses-details">
                    </div>
                    <div class="course-details-content">
                      <h2>@Model.Student.Course.Name</h2>
                     <p>@Model.Student.Course.Description </p>
                        <div class="course-details-left">
                            <div class="single-course-left">
                                <h3>about course</h3>
                    <p>@Model.Student.Course.About</p>
                            </div>
                            <div class="single-course-left">
                                <h3>how to apply</h3>
                    <p>@Model.Student.Course.Apply</p>
                            </div>
                            <div class="single-course-left">
                                <h3>certification</h3>
                    <p class="single-course-left"> @Model.Student.Course.Certfication</p>
                                
                            </div>
                        </div>
                        <div class="course-details-right">
                            <h3>COURSE FEATURES</h3>
                            <ul>
                    <li>Category <span>@Model.Student.Course.Category</span></li>
                    <li>starts <span>@Model.Student.Course.StartDate.ToString("dd MMMM yyyy")</span></li>
                    <li>duration <span>@Model.Student.Course.Duration Month</span></li>
                    <li>class duration <span>@Model.Student.Course.ClassDuration hours</span></li>
                    <li>skill level <span>@Model.Student.Course.SkillLevel</span></li>
                    <li>language <span>@Model.Student.Course.CourseLanguage</span></li>
                    <li>students <span>@Model.Student.Course.StudentCapacity</span></li>
                    <li>assesments <span>@Model.Student.Course.Assesment</span></li>
                            </ul>
                            <h3 class="red">course fee $@Model.Student.Course.Price</h3>
                        </div>
        </div>
    </div>
}
<a class="btn btn-dark my-4" asp-action="index">Go Back</a>